<div class="taskItem">
    <div class="mark">
        <%= link_to [@todo, item], data: { "turbo-method": :patch }  do %>
            <span class="material-symbols-outlined icons <%= item.done? ? 'markUndoneBtn': 'markDoneBtn' %>">
                 <%= item.done? ? 'undo' : 'check_circle' %>
            </span>
        <% end %>
    </div>

    <div class="taskNameDiv">
            <span class="taskName">
                <%= item.name %> 
            </span>
    </div>
    
    <div class="bin">
        
        <%= link_to [@todo, item], data: { "turbo-method": :delete }  do %>
            <span class="material-symbols-outlined icons binBtn"> delete </span>
        <% end %>
    </div>
</div>




